:root {
    --blue: hsl(206, 63%, 53%);
    --white: #fff;
    --grey: #e3e8f0;
    --gold: #eab433;
    --black: #000;
    --text-grey: #636363;
}

/* Resets */
*,
*::before,
*::after {
    box-sizing: border-box;
}

*:not(dialog) {
    margin: 0;
    padding: 0;
}

input,
button,
textarea,
select {
    font: inherit;
    font-size: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* remove default focus from Chrome Browsers */
input:focus {
    outline: none;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

html {
    font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
    font-weight: normal;
}

/* Layout */
header {
    display: flex;
    background-color: var(--blue);
    justify-content: space-between;
    padding: 10px 20px;
}

.library {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    padding: 10px 10px;
}


/* Buttons */
button {
    border: none;
    border-radius: 10px;

    &#add-button {
        padding: 15px;
    }

    &:not(#add-button) {
        margin-right: 10px;
        padding: 5px 5px;
        background-color: var(--gold);
    }

    &:hover {
        cursor: pointer;
    }
}

/* Modal */

#modal-close {
    border: none;
    background: none;
    position: absolute;
    right: 0.25rem;
    top: 0.5rem;
    filter: grayscale() brightness(20);
    font-weight: bold;
    color: var(--black);
}

.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.80);
}

.card {
    border: 2px solid var(--black);
    border-radius: 10px;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    &:hover {
        background-color: var(--grey);
    }
}

/* Form */

.form-intro {
    text-align: center;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 10px 0px;

    input {
        border-radius: 5px;
        border: 1px solid var(--text-grey);

    }

    fieldset {
        border-radius: 5px;
        border: 1px solid var(--text-grey);
    }

    input[type="text"],
    input[type="number"] {
        padding-left: 5px;
    }

}
