:root {
    --blue: hsl(206, 63%, 53%);
    --white: #fff;
    --grey: #e3e8f0;
    --gold: #eab433;
    --black: #000;
    --text-grey: #636363;
}

/* Resets */
*,
*::before,
*::after {
    box-sizing: border-box;
}

*:not(dialog) {
    margin: 0;
    padding: 0;
}

input,
button,
textarea,
select {
    font: inherit;
    font-size: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* remove default focus from Chrome Browsers */
input:focus {
    outline: none;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

html {
    font-family: system-ui, sans-serif;
    font-weight: normal;
}

/* Layout */
header {
    display: flex;
    background-color: var(--blue);
    justify-content: space-between;
    padding: 10px 10px;
}

.library {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}


/* Components */
button#add-button {
    border-radius: 10px;
    padding: 10px;
}
