:root {
    --blue: hsl(206, 63%, 53%);
    --white: #fff;
    --grey: #e3e8f0;
    --gold: #eab433;
    --black: #000;
    --text-grey: #636363;
}

/* Resets */
*,
*::before,
*::after {
    box-sizing: border-box;
}

*:not(dialog) {
    margin: 0;
    padding: 0;
}

input,
button,
textarea,
select {
    font: inherit;
    font-size: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* remove default focus from Chrome Browsers */
input:focus {
    outline: none;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

html {
    font-family: system-ui, sans-serif;
    font-weight: normal;
}

/* Layout */
header {
    display: flex;
    background-color: var(--blue);
    justify-content: space-between;
    padding: 10px 20px;
}

.library {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    padding: 10px 20px;
}


/* Components */
button {
    border: none;
    border-radius: 10px;

    &#add-button {
        padding: 15px;
    }

    &:not(#add-button) {
        margin-right: 10px;
        padding: 5px 5px;
        background-color: var(--gold);
    }

    &:hover {
        cursor: pointer;
    }
}

.card {
    border: 2px solid var(--black);
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    &:hover {
        background-color: var(--grey);
    }
}

.form-inputs {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 10px 0px;
}
